.bmi {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 35px;
  text-align: center;
}
.bmi label {
  text-align: left;
  display: block;
}
.bmi h2 {
  font-size: 20px;
  color: var(--darklimegreen);
  margin-bottom: 30px;
  font-weight: bold;
}
.bmi input {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
	font-family: inherit;
}